DJANGO_ENV=production
SECRET_KEY=
POSTGRES_PASSWORD=
POSTGRES_USER=sl_tom
POSTGRES_DB=sl_tom
POSTGRES_HOST=localhost
CELERY_RABBITMQ_USER=sl_tom
CELERY_RABBITMQ_PASS=
CELERY_RABBITMQ_HOST=localhost
CELERY_RABBITMQ_VHOST=sl_tom
XDG_CONFIG_HOME=/srv/sl_tom/astropy
XDG_CACHE_HOME=/srv/sl_tom/astropy
SENTRY_DSN=
ZOONIVERSE_CLIENT_ID=
ZOONIVERSE_CLIENT_SECRET=
ATLAS_FORCED_PHOTOMETRY_API_KEY=
MAST_API_TOKEN=