{% extends "tom_common/base.html" %}

{% block content %}
<h1>Zooniverse Target List</h1>

<form method="get">
    {{ target_lookup_form }}
    <input type="submit" value="Lookup">
</form>
<ul>
    {% for object in object_list %}
    <li>
        <a href="{% url 'zooniverse:zooniversetarget_detail' object.pk %}">
            <img src="{{object.lightcurve_image.url}}" style="width: 10%;"> {{ object }}
        </a>
    </li>
    {% empty %}
    <li>No targets available.</li>
    {% endfor %}
</ul>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}